/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Webpage specific css below */

* {
	box-sizing: border-box;
}

:root {
  font-size: 16px;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

/* body {
  background-image: url('../images/evgeny-ozerov-mountain-night-sky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

.site-container,
.input-box,
.form-section,
.logo,
span,
header,
article {
  display: flex;
}

h2 {
	width: clamp(200px, 60%, 500px);
}

.logo img {
	width: 60px;
	height: 60px;
}

span {
	align-items: center;
	font-size: 4rem;
	font-weight: 700;
}

.input-box,
header,
article {
	flex-direction: column;
}

.form-section {
	flex-wrap: wrap;
}

header {
	justify-content: space-between;
	width: max-content;
}

.logo {
	margin-top: 36vh;
}

.photo-credit {
	margin-bottom: 12px;
}

article {
  background-color: aliceblue;
  min-height: 100vh;
  flex-grow: 1;
	justify-content: center;
}

.stand-out {
	background-color: antiquewhite;
	box-shadow: 0px 2px 4px rgb(161, 159, 157);
}

h2,
.form-section,
.submit-button,
.sign-in {
	padding-left: 24px;
}