/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Webpage specific css below */

* {
	box-sizing: border-box;
}

:root {
  font-size: 16px;
	--stand-out-color: white;
	--logo-color: rgba(123,123,123, 0.6);
	--shadow-color: #dcdddd;
	--bg-color: #f9fafb;
	--error-color: #c44646;
	--button-color: #2a2c31;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 110%;
	width: clamp(200px, 60%, 600px);
}

body {
  background-image: url('../images/evgeny-ozerov-mountain-night-sky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.site-container,
.input-box,
.form-section,
.logo,
.credit-container,
span,
header,
article {
  display: flex;
}

.logo img {
	width: 60px;
	height: 60px;
}

span {
	align-items: center;
	font-size: 4rem;
	font-weight: 700;
}

.input-box,
header,
article {
	flex-direction: column;
}

.form-section {
	flex-wrap: wrap;
	width: min(80%, 450px);
	justify-content: space-between;
}

header {
	justify-content: space-between;
	width: 70%;
}

.logo {
	margin-top: 36vh;
	color: #f9fafb;
	background-color: var(--logo-color);
	padding: 1rem;
	justify-content: center;
}

.credit-container {
	justify-content: center;
	align-items: center;
}

.photo-credit {
	margin-bottom: 12px;
	font-size: 0.75rem;
	color: white;
}

a {
	color: white;
}

article {
  background-color: var(--bg-color);
  min-height: 100vh;
  flex-grow: 1;
	justify-content: center;
}

.stand-out {
	background-color: var(--stand-out-color);
	box-shadow: 4px 2px 4px var(--shadow-color);
}

h2,
.form-section,
.submit-button,
.sign-in {
	padding-left: 36px;
}

.login {
	color: var(--button-color);
}